.Rproj.user
.Rhistory
.RData
.Ruserdata
manuscript/*rds
manuscript/model_*
manuscript/ms_cache/
manuscript/ms_files/
manuscript/Figures/
manuscript/*.pdf
manuscript/*.html
manuscript/*.docx
**/.DS_Store
